.flash-box
  .flash-box__logo
    グループを作成しました

.chat-side
  .chat-side__side-header
    .chat-side__side-header-box
    test
    .chat-side__box-menu
    = fa_icon "edit"
    = fa_icon "cog"
  .chat-side__groups
    sample
    
.chat-main
  .chat-main__main-header
    sample
  .chat-main__messages
    seo
  .chat-main__form
    type a message
  .chat-main__form-form
  .chat-main__form-form-input-box